$appColor = #42b983;
$appColorRGB = 66, 185, 131;

flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

:export {
    appColor: $appColor;
    appColorRGB: $appColorRGB
}
